<!DOCTYPE html>
<html>

<head>

<title>Courses</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>

<body>

<nav class="navbar">

<div class="logo">
LearnSphere
</div>

<div>

<a href="/">Home</a>

<a href="/courses">Courses</a>

<a href="/student">Student</a>

<a href="/lecturer">Lecturer</a>

</div>

</nav>

<div class="container">

<h1>Available Courses</h1>

<div class="features">

{% for course in courses %}

<div class="card">

<h3>{{ course[1] }}</h3>

<p>{{ course[2] }}</p>

</div>

{% endfor %}

</div>

</div>

</body>

</html>