<!DOCTYPE html>
<html>

<head>

<title>Courses</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>

<body>

<nav class="navbar">

<div class="logo">
LearnSphere
</div>

<div>

<a href="/">Home</a>

<a href="/courses">Courses</a>

<a href="/student">Student</a>

<a href="/lecturer">Lecturer</a>

</div>

</nav>

<div class="container">

<h1>Available Courses</h1>

<div class="features">

<div class="card">

<h3>Cloud Computing</h3>

<p>AWS Fundamentals</p>

</div>

<div class="card">

<h3>Python Programming</h3>

<p>Programming Basics</p>

</div>

<div class="card">

<h3>Flask Development</h3>

<p>Web Development</p>

</div>

<div class="card">

<h3>Database Systems</h3>

<p>MySQL & RDS</p>

</div>

</div>

</div>

</body>

</html>