<!DOCTYPE html>
<html>

<head>

    <title>LearnSphere</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>

    <nav class="navbar">

        <div class="logo">

            LearnSphere

        </div>

        <div>

            <a href="/">Home</a>
            <a href="/courses">Courses</a>
            <a href="/student">Student</a>
            <a href="/lecturer">Lecturer</a>

        </div>

    </nav>

    <section class="hero">

        <h1>
            Learn Anywhere,
            Anytime
        </h1>

        <p>
            Cloud Based E-Learning Platform
            powered by AWS
        </p>

        <a href="/courses"
           class="btn">

            Explore Courses

        </a>

    </section>

    <section class="features">

        <div class="card">

            <h3>Video Learning</h3>

            <p>
                Watch online lectures
            </p>

        </div>

        <div class="card">

            <h3>Assignments</h3>

            <p>
                Submit your tasks online
            </p>

        </div>

        <div class="card">

            <h3>Cloud Storage</h3>

            <p>
                Material stored in AWS
            </p>

        </div>

    </section>

</body>

</html>