<!DOCTYPE html>
<html>

<head>

    <title>LearnSphere</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>

    <nav class="navbar">

        <div class="logo">

            LearnSphere

        </div>

        <div>

            <a href="/">Home</a>
            <a href="/courses">Courses</a>
            <a href="/student">Student</a>
            <a href="/lecturer">Lecturer</a>

        </div>

    </nav>

    <section class="hero">

        <h1>Learn Anywhere, Anytime</h1>

        <p>
            Cloud-Based Learning Management System
            powered by AWS Cloud Services
        </p>

        <a href="/courses" class="btn">
            Browse Courses
        </a>

    </section>

    <section class="features">

        <div class="stats">

        <div class="stat-card">
            <h2>{{ total_courses }}</h2>
            <p>Courses</p>
            </div>

            <div class="stat-card">
        <h2>{{ total_videos }}</h2>
            <p>Videos</p>
</div>

<div class="stat-card">
<h2>{{ total_materials }}</h2>
<p>Materials</p>
</div>

<div class="stat-card">
<h2>{{ total_assignments }}</h2>
<p>Assignments</p>
</div>

</div>

        </div>

    </section>

</body>

</html>