<!DOCTYPE html>
<html>

<head>

<title>Lecturer Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>

<body>

<nav class="navbar">

<div class="logo">

LearnSphere

</div>

</nav>

<div class="container">

<h1>Lecturer Dashboard</h1>

<div class="features">

<div class="card">

<h3>Upload Video</h3>

<p>Add Learning Videos</p>

</div>

<div class="card">

<h3>Upload Material</h3>

<p>PDF / PPT / DOCX</p>

</div>

<div class="card">

<h3>Create Assignment</h3>

<p>Create Student Tasks</p>

</div>

<div class="card">

<h3>View Submissions</h3>

<p>Review Student Work</p>

</div>

</div>

</div>

</body>

</html>