<!DOCTYPE html>
<html>
<head>
    <title>Lecturer Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="logo">
        <a href="/" style="color:white;text-decoration:none;">
            LearnSphere
        </a>
    </div>
</nav>

<h1>Lecturer Dashboard</h1>

<div class="features">

<div class="card">
<h3>🎥 Upload Video</h3>
<p>Add new learning videos.</p>
<a href="/upload-video" class="btn">Open</a>
</div>

<div class="card">
<h3>📺 View Videos</h3>
<p>Manage uploaded videos.</p>
<a href="/videos" class="btn">Open</a>
</div>

<div class="card">
<h3>📄 Upload Material</h3>
<p>Upload PDF, PPT, DOCX.</p>
<a href="/upload-material" class="btn">Open</a>
</div>

<div class="card">
<h3>📚 Materials</h3>
<p>View all materials.</p>
<a href="/materials" class="btn">Open</a>
</div>

<div class="card">
<h3>📝 Create Assignment</h3>
<p>Create student tasks.</p>
<a href="/create-assignment" class="btn">Open</a>
</div>

<div class="card">
<h3>📥 Submissions</h3>
<p>View student submissions.</p>
<a href="/submissions" class="btn">Open</a>
</div>

</div>

</body>
</html>