<!DOCTYPE html>
<html>
<head>
    <title>Lecturer Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="logo">
        <a href="/" style="color:white;text-decoration:none;">
            LearnSphere
        </a>
    </div>
</nav>

<div class="dashboard">

    <h1>Lecturer Dashboard</h1>

    <div class="cards">

        <a href="/upload-video" class="card">
            <h3>Upload Video</h3>
            <p>Add Learning Videos</p>
        </a>

        <a href="/upload-material" class="card">
            <h3>Upload Material</h3>
            <p>PDF / PPT / DOCX</p>
        </a>

        <a href="/create-assignment" class="card">
            <h3>Create Assignment</h3>
            <p>Create Student Tasks</p>
        </a>

        <a href="/submissions" class="card">
            <h3>View Submissions</h3>
            <p>Review Student Work</p>
        </a>

    </div>

</div>

</body>
</html>