<!DOCTYPE html>
<html>
<head>
    <title>Materials</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="logo">
        <a href="/" style="color:white;text-decoration:none;">
            LearnSphere
        </a>
    </div>
</nav>

<div class="container">

<h1>Learning Materials</h1>

<div class="features">

{% for item in materials %}

<div class="card">

    <h3>{{ item[2] }}</h3>

    <a href="{{ item[3] }}" target="_blank">
        Download Material
    </a>

</div>

{% endfor %}

</div>

</div>

</body>
</html>