<!DOCTYPE html>
<html>

<head>

<title>Student Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>

<body>

<nav class="navbar">

<div class="logo">

LearnSphere

</div>

</nav>

<div class="container">

<h1>Student Dashboard</h1>

<div class="features">

<div class="card">

<h3>My Courses</h3>

<p>4 Active Courses</p>

</div>

<div class="card">

<h3>Video Lessons</h3>

<p>12 Videos Available</p>

</div>

<div class="card">

<h3>Materials</h3>

<p>Download Learning Materials</p>

</div>

<div class="card">

<h3>Assignments</h3>

<p>3 Tasks Pending</p>

</div>

</div>

</div>

</body>

</html>