<!DOCTYPE html>
<html>

<head>

<title>Student Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>

<body>

<nav class="navbar">

<div class="logo">

LearnSphere

</div>

</nav>

<div class="container">

<h1>Student Dashboard</h1>

<div class="features">

<div class="card">
<h3>📚 My Courses</h3>
<p>{{ total_courses }} Courses Available</p>
<a href="/courses" class="btn">
Open
</a>
</div>

<div class="card">
<h3>🎥 Video Lessons</h3>
<p>{{ total_videos }} Videos Available</p>
<a href="/videos" class="btn">
Watch
</a>
</div>

<div class="card">
<h3>📄 Materials</h3>
<p>{{ total_materials }} Materials</p>
<a href="/materials" class="btn">
View
</a>
</div>

<div class="card">
<h3>📝 Assignments</h3>
<p>{{ total_assignments }} Tasks</p>
<a href="/assignments" class="btn">
Open
</a>
</div>

</div>

</div>

</body>

</html>