<!DOCTYPE html>
<html>

<head>

<title>Student Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>

<body>

<nav class="navbar">

<div class="logo">

LearnSphere

</div>

</nav>

<div class="container">

<h1>Student Dashboard</h1>

<div class="features">

<div class="card">

<h3>
<a href="/courses">
My Courses
</a>
</h3>

<p>
{{ total_courses }} Courses Available
</p>

</div>

<div class="card">

<h3>
<a href="/videos">
Video Lessons
</a>
</h3>

<p>
{{ total_videos }} Videos Available
</p>

</div>

<div class="card">

<h3>
<a href="/materials">
Materials
</a>
</h3>

<p>
{{ total_materials }} Materials Available
</p>

</div>

<div class="card">

<h3>
<a href="/assignments">
Assignments
</a>
</h3>

<p>
{{ total_assignments }} Tasks Available
</p>

</div>

</div>

</div>

</body>

</html>